@using MVC.Models
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@{
    MyEntities ctx = new MyEntities();
    IEnumerable<Categories> list = ctx.Categories.ToList();
}
<h5>Select Category to Sub and So on For Product...</h5>
<form action="~/Admin/Brand_Add" class="form-horizontal" role="form" method="post">

    <div class="form-group">
        <label class="col-lg-3 control-label" style="font-size:20px">Categories: </label>
        <div class="col-lg-3 ">
            <select id="CategorySelector" name="sid">

                @foreach (var v in list)
                {
                    <option value="@v.Id">@v.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group" id="d1">
    </div>

    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</form>
<script>

    $('#CategorySelector').change(function () {
        var value = $('#CategorySelector').val();

        $('#d1').load('/Admin/Brand_Addd?cat=' + value);
    });

</script>






